
/* CONFIG. GERAIS */

* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
html, body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #0B0E14;
  color: whitesmoke;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
h1 {
  display: inline-flex;
  margin: 10px auto 10px 0;
  text-shadow: 0px 0px 10px rgba(128, 0, 128, 0.685);
}
p {
  margin: 0 0 0 15px;
}
ul, li {
  list-style: none;
}
/* HOME */

header {
  display: flex;
  margin: auto auto 15px auto;
  align-items: center;
}
#logo {
  display: inline-flex;
  width: 60px;
  margin: 10px 5px 10px auto;
  text-shadow: 0px 0px 10px rgba(128, 0, 128, 0.685);
  border-radius: 5px;
}

/* CATEGORIAS TICKERS */

.containerCategriasTikcers {
  display: block;
  width: 80vw;
  margin: 20px auto;
  justify-content: center;
  border-radius: 10px;
  background-color: #202025;
  box-shadow: 2px 2px 10px rgba(43, 41, 43, 0.267);
}
.containerCategriasTikcers > h2 {
  height: 5%;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  background-color: #17191F;
  border-radius: 10px;
  text-shadow: 1px 1px 5px rgba(32, 31, 31, 0.37);
}
.CategriasTikcers {
  width: 100%;
  height: 95%;
  justify-content: center;
}
.CategriasTikcers > li {
  padding: 10px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}
.CategriasTikcers li:nth-child(odd) {
  background-color: #212328;
}
.CategriasTikcers li:nth-child(even) {
  background-color: #17191F;
}
